<?xml version="1.0"?>
<!--
/**
 * Encora_ProductDuplicator
 *
 * PHP version 7.x
 *
 * @category  PHP
 * @package   Encora\ProductDuplicator
 * @author    Narendra Kamadi <narendrakamadi@gmail.com>
 * @copyright 2021 Copyright (c) Encora
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Encora_ProductDuplicator::manage" title="ProductDuplicator Manager" sortOrder="100">
                    <resource id="Encora_ProductDuplicator::productduplicator" title="ProductDuplicator" sortOrder="110"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
