<?xml version="1.0"?>
<!--
/**
 * Encora_ProductDuplicator
 *
 * PHP version 7.x
 *
 * @category  PHP
 * @package   Encora\ProductDuplicator
 * @author    Narendra Kamadi <narendrakamadi@gmail.com>
 * @copyright 2021 Copyright (c) Encora
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Encora_ProductDuplicator::encora" title="Encora" module="Encora_ProductDuplicator" sortOrder="100"
             resource="Encora_ProductDuplicator::encora"/>
        <add id="Encora_ProductDuplicator::manage" title="Product Duplicator Management"
             module="Encora_ProductDuplicator" resource="Encora_ProductDuplicator::manage"
             parent="Encora_ProductDuplicator::encora" translate="true"/>
        <add id="Encora_ProductDuplicator::productduplicator" title="Product Duplicator" module="Encora_ProductDuplicator"
             parent="Encora_ProductDuplicator::manage" resource="Encora_ProductDuplicator::productduplicator"
             action="productduplicator/index/index" translate="true"/>
    </menu>
</config>
